/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}
/* HEADER */
header {
    background-color: #ffffff;
    padding: 10px 20px;
}
#logo {
   vertical-align: middle; 
}
h1 {
    display: inline-block;
    vertical-align: middle;
}
/* MAIN */
.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 5px;
}
.button-container {
    padding: 16px 50px 8px 50px;
    border-bottom: 3px solid  #f6f8f9 ;
}
.button-container .btn {
    all: unset;
    border: 1px solid #dce0e3;
    font-size: 11px;
    background-color: #ffffff;
    padding: 6px 10px;
    color: #d4d9dd;
    cursor: pointer; 
}
#add-task {
    background-color: #14aaf5;
    color: white;
    border-color: #14aaf5;
}
section.task {
    margin-bottom: 40px;
}
.task-container {
    padding: 40px 50px 40px 50px;
}
.task-container h2 {
    color: #434851;
    margin-bottom: 20px;
}
.task-container h2::before{
    content: '\25BE';
    display: inline-block;
    margin-right: 10px;
}
.task-container ul {
    list-style: none;
}
.task-container ul li {
    margin: 10px 0;
}
.task-container ul li.uncomplete::before{
    content: '\2717';
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ff1010;
    border: 1px solid #ff1010;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 10px;
}
.task-container ul li.completed::before{
    content: '\2713';
    color: #3acab0;
    border: 1px solid #3acab0;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 10px;
}
.task-container ul li .tag {
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 8px;
    margin-left: 5px;
}
.task-container ul li > span {
    vertical-align: middle;
}
.task-container ul li .tag.editorial {
    background-color: #09a9ed;
}
.task-container ul li .tag.goals {
    background-color: #ab5de6 ; 
}
.task-container ul li .tag.recruiting {
    background-color: #3ecbb2;
}
.task-container ul li .tag.mobile {
    background-color: #ff9b00;
}
.task-container ul li .tag.website {
    background-color: #ec4a9d;
}
.task-container ul li .tag.sales {
    background-color: #a3d116;
}
